<!-- Fix broken layout -->
<md-toolbar color="primary" class="">
  <span>{{title}}<sup><md-icon>local_hospital</md-icon></sup></span>

  <span>
    <button md-button routerLink="/patient">
      Search
    </button>
    <button md-button routerLink="/donor">
      Register
    </button>
    <button md-button routerLink="/dashboard">
      Info
    </button>
  </span>

</md-toolbar>

<!--<md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>-->
<router-outlet></router-outlet>
