<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 pt-5 pl-5 pl-5">
      <div class="update-form">
        <h3>Donor Update Form</h3>
        <form [formGroup]="donorForm"  *ngIf="active"  (ngSubmit)="onUpdate()">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>Registered Location <strong [hidden]="!locationChanged">*</strong>:</p>
                <ul>
                  <li>Lon: {{ donor.longitude }}</li>
                  <li>Lat: {{ donor.latitude }}</li>
                </ul>
                <p *ngIf="!donor.street">
                  <em>Could not determine address.</em>
                </p>
                <div *ngIf="donor.street">
                  <p>Address: {{ donor.street }}</p>
                  <p>City: {{ donor.city }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p>You can change the registered location by clicking anywhere on the map and registering via
                <span class="esri-icon-authorize"></span>
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              formControlName="firstName"
              required >
            <div *ngIf="formErrors.firstName" class="alert alert-danger">
              {{ formErrors.firstName }}
            </div>
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>

            <input
              type="text"
              id="lastName"
              class="form-control"
              formControlName="lastName"
              required >

            <div *ngIf="formErrors.lastName" class="alert alert-danger">
              {{ formErrors.lastName }}
            </div>
          </div>

          <div class="form-group">
            <label for="contactNo">Contact Number (including international prefix)</label>

            <input
              type="text"
              id="contactNo"
              class="form-control"
              formControlName="contactNo"
              required >

            <div *ngIf="donorForm.controls['contactNo'].touched && formErrors.contactNo" class="alert alert-danger">
              {{ formErrors.contactNo }}
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>

            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
              required >

            <div *ngIf="donorForm.controls['email'].touched && formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
          </div>

          <div class="form-group">
            <label for="bloodGroup">Blood Group</label>
            <select
              id="bloodGroup"
              class="form-control"
              formControlName="bloodGroup"
              required >
              <option *ngFor="let bg of bloodGroups" [value]="bg">{{bg}}</option>
            </select>

            <div *ngIf="formErrors.bloodGroup" class="alert alert-danger">
              {{ formErrors.bloodGroup }}
            </div>
          </div>

          <button type="submit"
            color="accent"
            md-raised-button
            [disabled]="!donorForm.valid">
            Update
          </button>
          <button
            md-raised-button color="warn"
            (click)="deleteDonor(donor.id)">
            Delete
          </button>
        </form>
      </div>
    </div>
    <app-esri-map
      class="col-lg-7 p-0"
      (onMapEvent)="updateLocation($event)"
      [userType]="'donor'"
      [goTo]="editedDonorLocation">
    </app-esri-map>
  </div>
</div>
